<h1>~~~~ <span class="name">dylan's</span> Tilde Club Page ~~~~</h1>
<div class="intro">
  <h2>Once upon a time I created interactive graphics. Now, I manage content management systems for</h2>
  <div class="bloom-wrapper">
    <span class="name">Bloomberg Businessweek</span>
  </div>
</div>

<h2>Make a post or something whatever...</h2>
<scribecms ng-model="message"></scribecms>

<div class="submit-wrapper">
  <button ng-click="submitClick()" class="pure-button submit">Submit</button>
</div>

<div class="message-wrapper" ng-repeat="message in messages | filter:emptyFilter |orderBy: '-time'">
  <div ng-bind-html="message.text | toTrusted"></div>
  <p>{{message.time}}</p>
  <hr>
</div>

<div class="blog-roll">
  <h2>Blog Roll</h2>
  <a class="name" href="/~toph">~toph</a><span> (Senior ranking member of the Bloomberg Businessweek content management system management department)</span>  
</div>