<div class="cms-new-post">
  <div class="toolbar-editing">  
    <button class="pure-button" data-command-name="bold"><i class="fa fa-bold"></i></button>
    <button class="pure-button" data-command-name="italic"><i class="fa fa-italic"></i></button>
    <button class="pure-button" data-command-name="strikeThrough"><i class="fa fa-strikethrough"></i></button>
    <button class="pure-button" data-command-name="linkPrompt"><i class="fa fa-link"></i></button>
    <button class="pure-button" data-command-name="unlink"><i class="fa fa-unlink"></i></button>
    <button class="pure-button" data-command-name="insertOrderedList"><i class="fa fa-list-ol"></i></button>
    <button class="pure-button" data-command-name="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
    <button class="pure-button" data-command-name="indent"><i class="fa fa-indent"></i></button>
    <button class="pure-button" data-command-name="outdent"><i class="fa fa-outdent"></i></button>
    <button class="pure-button" data-command-name="blockquote"><i class="fa fa-quote-left"></i></button>
    <button class="pure-button" data-command-name="h2"><i class="fa fa-header"></i></button>
    <button class="pure-button" data-command-name="undo"><i class="fa fa-undo"></i></button>
    <button class="pure-button" data-command-name="redo"><i class="fa fa-undo fa-flip-horizontal"></i></button>
    <button class="pure-button" data-command-name="removeFormat"><i class="fa fa-eraser"></i> Remove Formatting</button>
  </div>

  <div class="scribe"></div>

  <textarea class="scribe-html" rows="15" readonly></textarea>

  <div class="toolbar-posting">


  </div>

</div>
